@charset "UTF-8";
body {
  padding-top: 50px;

}

.sidebar {
  position: fixed;
  display: block;
  top: 50px;
  bottom: 0;
  background-color: #F4F5F7;
}

.main {
  padding-top: 60px;
  padding-left: 20px;
  position: fixed;
  overflow: auto;
  display: block;
  top: 0px;
  bottom: 0;
}

.page-header {
  margin-top: 0px;
}
table#list{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table#list tr:nth-child(odd){
  background-color: #eee
}

th#days{
	 background-color: #b4bacd

}
td#close{
	 background-color: #ebebeb
}
td#nodata{
	 background-color: pink
}
td#request{
	 background-color: lightblue
}
td#changed{
	 background-color: #fafa89
}

.topfixed{
  position: sticky;
  top: 50px;
  background: #dedede;


}
.sidefixed{
	  position: sticky;
  left: 0;
  background: #dedede;

}
table{	margin-top:10px;
}
#calendar{
	margin-top:10px;
}

