@charset "UTF-8";
body {
  padding-top: 50px;

}

.sidebar {
  position: fixed;
  display: block;
  top: 50px;
  bottom: 0;
  background-color: #F4F5F7;
}

.main {
  padding-top: 60px;
  padding-left: 20px;
  position: fixed;
  overflow: auto;
  display: block;
  top: 0px;
  bottom: 0;
}

.page-header {
  margin-top: 0px;
}
table#list{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table#list tr:nth-child(odd){
  background-color: #eee
}

th#days{
	 background-color: #b4bacd

}
td#close{
	 background-color: #ebebeb
}
td#nodata{
	 background-color: pink
}
td#request{
	 background-color: lightblue
}
td#changed{
	 background-color: #fafa89
}

.allfixed{
  position: sticky;
  top: -10px;
  left: -20px;
  background: #dedede;
  z-index: 5;
}

.allfixed2{
  position: sticky;
  top: -10px;
  left: 210px;
  background: #dedede;
  z-index: 4;
}

.allfixed3{
  position: sticky;
  top: -10px;
  left: 254px;
  background: #dedede;
  z-index: 4;
}

.topfixed{
  position: sticky;
  top: -10px;
  background: #dedede;


}

.topfixed2{
  position: sticky;
  top: 26px;
  background: #dedede;


}
.sidefixed{
  position: sticky;
  left: -20px;
  background: #dedede;

}

.sidefixed2{
  position: sticky;
  left: 210px;
  background: #dedede;

}

.sidefixed3{
  position: sticky;
  left: 254px;
  background: #dedede;

}
table{	margin-top:10px;
}
#calendar{
	margin-top:10px;

}


/*線を全て消すとき*/
#calendar table,
#calendar td,
#calendar th{
  border: 0;
}