<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人スケジュール詳細</title>
</head>
<body>

	<div th:fragment="udetail_contents">


	  <h1>勤務詳細</h1>

  <h2 th:text="${date}"></h2>



       <h4 th:text="${sname}"></h4>
       <h5>仕事場所</h5>
       <h4 th:text="${bname}"></h4>
      <h5>掃除開始時刻</h5>
       <h4 th:text="${starttime}"></h4>
      <h5>掃除終了時刻</h5>
       <h4 th:text="${stoptime}"></h4>
       <h5>地図</h5>
       <div id=map></div>

	  <p> <input type="button" onclick="history.back()" value="スケジュール一覧に戻る"></p>


	<form method="post" th:action="@{'/staff/sdetail/'+${sid}+'/'+${pid}}" onsubmit="return check()">
	<button type="submit">休暇申請</button></form>






<script th:inline="javascript" charset="utf-8">


/*<![CDATA[*/
let billmap= /*[[ ${billmap} ]]*/
	var map =document.getElementById("map");
	var i =document.createElement('iframe');
	i.setAttribute("src","https://www.google.com/maps/embed?"+billmap);
	i.setAttribute("width","400");
	i.setAttribute('height',"300");
	i.setAttribute('frameborder',"0");
	i.setAttribute('style',"border:0;");
	i.setAttribute('allowfullscreen',"");
	map.appendChild(i);


/*]]>*/


//休暇申請ボタンがクリックされた時、確認のポップアップを表示する
function check() {

    	var result = window.confirm("休暇申請してもよろしいですか？");
		//ポップアップ内のボタンクリック後の分岐処理
		if(result == true){
			//trueの処理
			location.href = "mailto:k.takaoka@jrkyushu01.onmicrosoft.com?subject=休暇の申請&body=お疲れ様です。休暇申請を行いましたので、ご確認をお願いします。"
      }
      else{
    	  //falseの処理
    	return false;
      }
}

</script>
	</div>

</body>
</html>

