<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
</head>
<body>
	<div th:fragment="bdetail_contents">
		<h1 th:text="${name}"></h1>

   <div id="calendar"></div>
		<button id="prev" type="button" class="btn btn-primary">前の月</button>
		<button id="next" type="button" class="btn btn-primary">次の月</button>

			<!-- 情報を書くテーブル -->
		<table class="table table-bordered text-nowrap">
		<tr><th>ビル名</th>
		<th>住所</th>
		<th>派遣人数</th>
		<th>清掃曜日</th>
		<th>オーナー名</th>
		<th>連絡先</th>
		</tr>

		<tr><td th:text="${name}"></td>
		<td th:text="${address}"></td>
		<td th:text="${people}"></td>
		<td id="billweek"></td>
		<td th:text="${owner_name}"></td>
		<td th:text="${owner_tel}"></td>
		</tr>

		</table>
<a th:href="@{'/bill/bchange/' + ${id}}" class="btn btn-primary">情報変更 </a>

		<a th:href="@{'/bill/blist'}">一覧に戻る</a>
<!-- 以下Script -->
		<script th:inline="javascript" charset="utf-8">
/*<![CDATA[*/
	let planList= /*[[ ${planList} ]]*/
		var billId= /*[[ ${id} ]]*/
		var billPeople= /*[[ ${people} ]]*/
		var sun= /*[[ ${sun} ]]*/
		var mon= /*[[ ${mon} ]]*/
		var tue= /*[[ ${tue} ]]*/
		var wed= /*[[ ${wed} ]]*/
		var thu= /*[[ ${thu} ]]*/
		var fri= /*[[ ${fri} ]]*/
		var sat= /*[[ ${sat} ]]*/
			var billweek= [
				sun,
				mon,
				tue,
				wed,
				thu,
				fri,
				sat,
			]




	/////////////////////////////////////////////

	//日付関係
	var date = new Date();	//現在
	var year = date.getFullYear()	//	現在の西暦
	var month = date.getMonth() +1	//現在の月

	var week = ['日', '月', '火', '水', '木', '金', '土']
	var items = ["ビル名","人数"]
/////////////////////ビル情報用
	var weekStr ="";
    var p = document.createElement('p')

    for(var i=0 ; i<billweek.length ;i++){

    	if(billweek[i] == 0){
        	weekStr +=week[i]+"×\n"
    	}else{
        	weekStr +=week[i]+"〇\n"
        	}
    }
	p.textContent=weekStr;
    document.getElementById("billweek").appendChild(p)

/////////////////////カレンダー表示用
	function showCalendar(year, month) {

	        const html = createCalendar(year, month)
	        //tableタグの生成
	        const sec = document.createElement('table')
	        sec.setAttribute("class","table table-bordered text-nowrap")
	        sec.innerHTML = html
	        //id=calendarのタグを親としてsec(htmlを入れたtableタグ)を挿入
	        document.getElementById("table").appendChild(sec)
	}


	function createCalendar(year, month) {
		var endDate = new Date(year,month,0);	//今月末日 0は前月の末日
		var startDate = new Date(year,month-1,1);	//今月初日
		var DAY_OF_MONTH = endDate.getDate();	//今月の日数
		var startDay = startDate.getDay();	//今月初日の曜日
		var dayCount = 1 // 日にちのカウント（日付用）
		var planDayCount = 1 // 日にちのカウント(スタッフ用)



		var html = '';

		var h1 = document.createElement('h1');
		h1.textContent = year  + '年' + month + '月';
		document.getElementById("table").appendChild(h1)

		html += '<tr>'
	//固定要素


	//曜日
	for(var i = 0 ; i < (week.length); i++){
		html += '<th id="days">'+ week[i]; +'</th>'
	}
			html += '</tr>'//ここまでヘッダー部分

///////////////////////////////////////////////////////

				  for (let w = 0; w < 10; w++) {
				        html += '<tr>'

				        //wが割り切れるときに日付の処理
				        if(w%2 == 0){
				        for (let d = 0; d < 7; d++) {

				            if (w == 0 && d < startDay) {
				                // 1行目で1日の曜日の前
				                  html += '<td class="is-disabled"></td>'
				            } else if (dayCount > DAY_OF_MONTH) {
				                // 末尾の日数を超えた
				                   html += '<td class="is-disabled"></td>'
				                dayCount++
				            } else {
				                html += '<td>' + dayCount + '</td>'
				                dayCount++
				            }

				        }//1週刊おわりfor文終わり
				        html += '</tr>'
				        }
				        //wが奇数の時シフト
				        else{
							for(var j = 1; j <= billPeople; j++){
				        	 for (let d = 0; d < 7; d++) {


			        			  if (w == 1 && d < startDay) {
						                // 1行目で1日の曜日の前
						                  html += '<td class="is-disabled"></td>'
						           continue;
			        			  }else if(planDayCount > DAY_OF_MONTH) {
						                // 末尾の日数を超えた
						                   html += '<td class="is-disabled"></td>'
						                planDayCount++
						                continue;}

									//曜日によってデータを格納できるか変更する
									if(billweek[d] ==0){
										html += '<td id="close"></td>'
											planDayCount++;
										continue;
									}

									//plandaycountの時の日付を取得、yyyy-mm-dd文字型に変換
									var selectDate = new Date(startDate.getFullYear(),startDate.getMonth(),planDayCount);
									var yy =selectDate.getFullYear();
									var mm =("0"+(selectDate.getMonth()+1)).slice(-2);
									var dd =("0"+selectDate.getDate()).slice(-2);

									var selectDateStr = yy+"-"+ mm +"-"+ dd;

									var count = 0
						        	for(var plan of planList){
						        		count ++

				        			  if(selectDateStr == plan.planDate && plan.billId== billId  && j == plan.staffNumber
						            ){
				        				  if(plan.restCheck ==1){
				        					  html += '<td id ="request">'
				        				  }else if(plan.restCheck ==2){
				        					  html += '<td id="nodata">'
				        				  }else if(plan.restCheck ==3){
				        					  html += '<td id ="changed">'
				        				  }else{
				        					  html += '<td>'
				        				  }

						                html += '<a href="/CleanerSchedule-0.0.1-SNAPSHOT/staff/sdetail/'+ plan.staffId + ' ">'
										 +plan.staffName+'</a>'
						                html += '</td>'
						                		planDayCount++;
						                count = 0
						            }

						        		if(count >= planList.length){
											html += '<td id="nodata">no data</td>'
						                		planDayCount++;
						        		}
							        }//planList終わり

						        }//1週刊おわりfor文終わり

						        if(w==1 && j!=billPeople){
							        planDayCount = 1
						        }else if(j!=billPeople){
						        	var planDayCount = planDayCount - 7
						        }
						        html += '</tr>'
							}//jのfor文終わり


				        }



				    }

				return html

	}//function createCalendar終了

	function moveCalendar(e) {
	    document.getElementById('calendar').innerHTML = ''

	    if (e.target.id === 'prev') {
	        month--

	        if (month < 1) {
	            year--
	            month = 12
	        }
	    }

	    if (e.target.id === 'next') {
	        month++

	        if (month > 12) {
	            year++
	            month = 1
	        }
	    }

	    showCalendar(year, month)
	}

	document.getElementById('prev').addEventListener('click', moveCalendar)
	document.getElementById('next').addEventListener('click', moveCalendar)

	showCalendar(year, month);
/*]]>*/
</script>





	</div>

</body>
</html>

