
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">


<title>ビル一覧</title>
</head>
<body>
	<div th:fragment="blist_contents">

		<h1>ビル一覧</h1>
		<a class="btn btn-primary" th:href="@{'/bill/bnew'}">新規ビル登録</a>
<div  class="table-responsive" >
		<table class="table table-bordered table-hover table-striped">
		<tr><th>ビル名</th><th>派遣人数</th><th>所在地</th></tr>
			<tr th:each="bill : ${billList}">
			<td><a th:href="@{'/bill/bdetail/'+${bill.billId}}">
			<p	th:text="${bill.billName}"></p></a></td>
			<td th:text="${bill.billPeople}"></td>
			<td th:text="${bill.billAddress}"></td>

			</tr>
		</table>
	</div>
</body>
</html>