<!DOCTYPE html>​
<html xmlns:th="http://www.thymeleaf.org">​
<head>​​
<meta charset="UTF-8">​
<title>スタッフ情報変更画面</title>​
</head>​

<body>​
<div th:fragment="schange_contents">
​
    <form method="post" th:action="@{/staff/scomp}" th:object="${staffForm}">​
          <input type="hidden" class="form-control" th:field="*{staffId}"​
            readonly="readonly" />​
<table>
				<table class="table table-bordered table-hover table-striped">

					<caption>社員情報</caption>
					<tr>
					    <th>項目</th>
						<th>変更前</th>
						<th>変更後</th>
					</tr>
                  <input type="hidden" class="form-control" th:field="*{staffId}"​
                 readonly="readonly" />
        <tr>
        <th>名前</th>
        <td th:text="${name}"></td> ​
        <td><input type="text" th:field="*{staffName}" ></td>
        </tr>
		<tr>
		<th>住所</th>
        <td th:text="${address}"></td> ​
        <td><input type="text" th:field="*{staffAddress}" ></td>
        </tr>
        <tr>
        <th>メールアドレス</th>
        <td th:text="${mail}"></td> ​
        <td><input type="text" th:field="*{staffMail}" ></td>
        </tr>
        <tr>
        ​<th>電話番号</th>
        <td th:text="${tel}"></td> <br>​
        <td><input type="text" th:field="*{staffTel}" ></td>
        </tr>

        <!--  現出勤日数：<td th:text="${days}"></td> <br>​

        新出勤日数​

        <td><input type="text" ></td> <br> -->​
      <tr>
​      <th> 勤務終了日</th>
      <td th:text="${stop}"></td>
      <td><input type="text" th:field="*{staffStop}" ></td>
      </tr>
<!--          現シフトパターン：<td th:text="${shift}"></td> <br>​

        新シフトパターン：月<input type="checkbox" name="Monday" value="text" id="shift">​

                          火<input type="checkbox" name="Tuesday" value="text"id="shift">​

                          水<input type="checkbox" name="Wednesday" value="text"id="shift">​

                          木<input type="checkbox" name="Thursday" value="text"id="shift">​

                          金<input type="checkbox" name="Friday" value="text"id="shift">​

                          土<input type="checkbox" name="Saturday" value="text"id="shift">​

                          日<input type="checkbox" name="Sunday" value="text"id="shift"> -->​

​</table>
        <button  type="submit" name="update">​変更​</button>

​

            </div>​
</body>​
</html>