<!DOCTYPE html>​
<html xmlns:th="http://www.thymeleaf.org">​
<head>​​
<meta charset="UTF-8">​
<title>スタッフ情報変更画面</title>​
</head>​
<body>​
	<div th:fragment="schange_contents">
    <form method="post" th:action="@{/staff/scomp}" th:object="${staffForm}">​
				<table class="table table-bordered table-hover table-striped">
			<caption>社員情報</caption>
					<tr>
					    <th>項目</th>
						<th>変更前</th>
						<th>変更後</th>
					</tr>
          <input type="hidden" th:field="*{staffId}"​ readonly="readonly" />​
        <tr>
        <th>名前</th>
        <td th:text="${name}"></td> ​
        <td><input type="text" th:field="*{staffName}" required></td>
        </tr>
		<tr>
		<th>住所</th>
        <td th:text="${address}"></td> ​
        <td><input type="text" th:field="*{staffAddress}" required></td>
        </tr>
        <tr>
        <th>メールアドレス</th>
        <td th:text="${mail}"></td> ​
        <td><input type="email" th:field="*{staffMail}"></td>
        </tr>
        <tr>
        ​<th>電話番号</th>
        <td th:text="${tel}"></td> <br>​
        <td><input type="text" th:field="*{staffTel} " minlength="9" maxlength="11"></td>
        </tr>
      <tr>
​      <th> 勤務終了日</th>
      <td th:text="${stop}"></td>
      <!--デートピッカー -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	 <script src="https://rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-ja.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <td><input type="text" id="datepicker"  placeholder="日付を選択してください" value="2025-12-31" name="staffStop" pattern="^\d{4}-\d\d-\d\d$" title="○○〇〇-○○-○○の形式で入力してください。">​ </td>​
     <script>
        $("#datepicker").datepicker({

            dateFormat: 'yy-mm-dd',
        });
    </script>
     <!--   <td><input type="text" th:field="*{staffStop}" ></td> -->
      </tr>
​

​</table>
        <button  type="submit" name="update">​変更​</button>

​</form>


            </div>​
</body>​
</html>



        <!--  現出勤日数：<td th:text="${days}"></td> <br>​

        新出勤日数​

        <td><input type="text" ></td> <br> -->

        <!--          現シフトパターン：<td th:text="${shift}"></td> <br>​
        新シフトパターン：月<input type="checkbox" name="Monday" value="text" id="shift">​
                          火<input type="checkbox" name="Tuesday" value="text"id="shift">​
                          水<input type="checkbox" name="Wednesday" value="text"id="shift">​
                          木<input type="checkbox" name="Thursday" value="text"id="shift">​
                          金<input type="checkbox" name="Friday" value="text"id="shift">​
                          土<input type="checkbox" name="Saturday" value="text"id="shift">​
                          日<input type="checkbox" name="Sunday" value="text"id="shift"> -->