<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
</head>
<body>
	<div th:fragment="sdetail_contents">
	  <h1 th:text="${name}"></h1>
  <div id="table" ></div>
		<form method="post" th:action="@{'/staff/sdetail/'+${id} }"  id="confirm">
		<button id="prev" type="button" class="btn btn-primary">前の月</button>
		<button id="next" type="button" class="btn btn-primary">次の月</button>


				</form>

			<!-- 情報を書くテーブル -->
		<table class="table table-bordered text-nowrap">
		<tr><th>従業員名</th>
		<th>住所</th>
		<th>メールアドレス</th>
		<th>電話番号</th>
		<th>勤務開始日</th>
		<th>辞職予定日</th>
		</tr>

		<tr><td th:text="${name}"></td>
		<td th:text="${address}"></td>
		<td th:text="${mail}"></td>
		<td th:text="${tel}"></td>
		<td th:text="${start}"></td>
		<td th:text="${stop}"></td>
		</tr>


		</table>
 <td><a th:href="@{'/staff/schange/'+ ${id}}" class="btn btn-primary">情報変更する </a></td>
	<!-- 以下Script -->
		<script th:inline="javascript" charset="utf-8">
/*<![CDATA[*/

	let planList= /*[[ ${planList} ]]*/
		var staffId= /*[[ ${id} ]]*/
		var billPeople= /*[[ ${people} ]]*/
		var sun= /*[[ ${sun} ]]*/
		var mon= /*[[ ${mon} ]]*/
		var tue= /*[[ ${tue} ]]*/
		var wed= /*[[ ${wed} ]]*/
		var thu= /*[[ ${thu} ]]*/
		var fri= /*[[ ${fri} ]]*/
		var sat= /*[[ ${sat} ]]*/
			var billweek= [
				sun,
				mon,
				tue,
				wed,
				thu,
				fri,
				sat,
			]


	////////////restcheck=3があった場合のみボタンを表示////////////////////////////////
    index = planList.findIndex(x => x.staffId==staffId && x.restCheck == 3);
    if(index != -1){
    	var button =document.createElement('button')
    	button.setAttribute("type","submit")
       	button.setAttribute("name","update")
       	button.setAttribute("class","btn btn-danger")
       	button.textContent="変更を確認しました"
	        document.getElementById("confirm").appendChild(button)

    }


	/////////////////////////////////////////////

	//日付関係
	var date = new Date();	//現在
	var year = date.getFullYear()	//	現在の西暦
	var month = date.getMonth() +1	//現在の月

	var week = ['日', '月', '火', '水', '木', '金', '土']
	var items = ["ビル名","人数"]


	function showCalendar(year, month) {

	        const html = createCalendar(year, month)
	        //tableタグの生成
	        const sec = document.createElement('table')
	        sec.setAttribute("class","table table-bordered text-nowrap")
	        sec.innerHTML = html
	        //id=calendarのタグを親としてsec(htmlを入れたtableタグ)を挿入
	        document.getElementById("table").appendChild(sec)
	}


	function createCalendar(year, month) {
		var endDate = new Date(year,month,0);	//今月末日 0は前月の末日
		var startDate = new Date(year,month-1,1);	//今月初日
		console.log(endDate,startDate);
		var DAY_OF_MONTH = endDate.getDate();	//今月の日数
		var startDay = startDate.getDay();	//今月初日の曜日
		var dayCount = 1 // 日にちのカウント
		var planDayCount = 1 // 日にちのカウント()
	 	var count = 0 //ループカウンタ用

		var html = '';

		var h1 = document.createElement('h1');
		h1.textContent = year  + '年' + month + '月';
		document.getElementById("table").appendChild(h1)

		html += '<tr>'
	//固定要素
	//曜日
	for(var i = 0 ; i < (week.length); i++){
		html += '<th id="days">'+ week[i]; +'</th>'
	}
			html += '</tr>'//ここまでヘッダー部分

///////////////////////////////////////////////////////

				  for (let w = 0; w < 5; w++) {
				        html += '<tr>'

				        for (let d = 0; d < 7; d++) {

				            if (w == 0 && d < startDay) {
				                // 1行目で1日の曜日の前
				                  html += '<td class="is-disabled"></td>'
				                  continue;
				            }
				            if (dayCount > DAY_OF_MONTH) {
				                // 末尾の日数を超えた
				                   html += '<td class="is-disabled"></td>'
				                dayCount++
				                continue;
				            }

				            count = 0 //ループカウンタの初期化
							//plandaycountの時の日付を取得、yyyy-mm-dd文字型に変換
							var selectDate = new Date(startDate.getFullYear(),startDate.getMonth(),dayCount);
							var yy =selectDate.getFullYear();
							var mm =("0"+(selectDate.getMonth()+1)).slice(-2);
							var dd =("0"+selectDate.getDate()).slice(-2);

							var selectDateStr = yy+"-"+ mm +"-"+ dd;

					        for(var plan of planList){
					        		count++
				            	if(selectDateStr == plan.planDate && staffId == plan.staffId){

				                       if (plan.restCheck == 2){html += '<td style ="background-color:lightgreen;">休みになりました'
					                     }else{
				                     if(plan.restCheck == 0){
				                    	 html += '<td style ="background-color:pink;">'}//出勤
				                      else if (plan.restCheck == 1){html += '<td  id="request">'
				                     }//申請中
				                     else if (plan.restCheck == 3){html += '<td id ="changed">'
				                     }//変更有

				                     html+= '<a href="/CleanerSchedule-0.0.1-SNAPSHOT/user/udetail/'
				                     + plan.planId + '">'
				                     + dayCount + '<br>'
				                     +plan.billName+'</a>'
					                     }



				            		 html += '</td>'
					               //日付カウント
					                dayCount++
					                //ループカウンタを初期化
					            	count = 0
				                     break; //条件に合えばプランリストループ終わり
				            	}
				            }
				            //リストを回し終わった(その日に合うプランがなかった)場合
				            if (count >= planList.length){

				                html += '<td>' + dayCount + '</td>' //予定がない場合ただの数字
				                dayCount++
			            	}


				        }//1週刊おわりfor文終わり
				        html += '</tr>'

				    }//5週分のループ終わり

				return html

	}//function createCalendar終了

	function moveCalendar(e) {
	    document.getElementById('table').innerHTML = ''

	    if (e.target.id === 'prev') {
	        month--

	        if (month < 1) {
	            year--
	            month = 12
	        }
	    }

	    if (e.target.id === 'next') {
	        month++

	        if (month > 12) {
	            year++
	            month = 1
	        }
	    }

	    showCalendar(year, month)
	}

	document.getElementById('prev').addEventListener('click', moveCalendar)
	document.getElementById('next').addEventListener('click', moveCalendar)

	showCalendar(year, month);
/*]]>*/
</script>


	</div>

</body>
</html>