<!DOCTYPE html>
​
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員トップ画面</title>​
</head>
<body>
	​

	<div th:fragment="ssearch_contents">

		<h3>検索したい社員名を入力</h3>
		​

		<form th:action="@{/staff/slist}" th:object="${staffForm}"
			method="post">
			​ <input type="search" name="search" placeholder="名前">​
			<button type="submit">検索</button>
					</form>
			<br> <a class="btn btn-primary" th:href="@{'/staff/snew'}">新規社員登録</a>​


			<table  class="table table-bordered table-hover table-striped" id ="list">
			<tr><th>従業員名</th><th>住所</th><th>電話番号</th><th>メールアドレス</th></tr>
				<!--  each：繰り返し
				class="table table-bordered table-hover table-striped"
				<tr th:each="staff : ${staffList}">
					<td><a th:href="@{'/staff/sdetail/'+${staff.staffId}}">
							<p th:text="${staff.staffName}"></p>
					</a></td>
					<td><p th:text="${staff.staffAddress}"></p></td>
					<td><p th:text="${staff.staffTel}"></p></td>
					<td><p id ="mail"></p></td>

				</tr>
				-->
			</table>




		<script th:inline="javascript" charset="utf-8">

/*<![CDATA[*/
    let staffList= /*[[ ${staffList} ]]*/
		//id=listがついているタグをlistTableという名前で指定
    	var listTable = document.getElementById("list");
    	//スタッフリストをまわす
        for(var staff of staffList){

        	//tr td a要素の生成
        	var tr = document.createElement('tr');
        	var td = document.createElement('td');
        	var a = document.createElement('a');
        	//hrefに@{'/staff'~}を登録
			a.setAttribute("href","/staff/sdetail/"+staff.staffId );
        	//aタグの<a>ここに入れる文字を指定</a>
			a.textContent = staff.staffName;
			//親のtdタグに子のaタグを入れる
			td.appendChild(a);
			//親のtrタグに子のtdタグを入れる
			tr.appendChild(td);

			//2列目住所
        	var td = document.createElement('td');
			td.textContent = staff.staffAddress;
			tr.appendChild(td);

			//3列目住所
        	var td = document.createElement('td');
			td.textContent = staff.staffTel;
			tr.appendChild(td);
			//4列目メール
        	var td = document.createElement('td');
        	var a = document.createElement('a');
			a.setAttribute("href","mailto:" + staff.staffMail);
			a.textContent = staff.staffMail;
			td.appendChild(a);
			tr.appendChild(td);


			listTable.appendChild(tr);

        }
/*]]>*/
</script>​



	</div>
	​
</body>
</html>