<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- CSSの読込 -->
<link href="/login.css" rel="stylesheet"></link>
    <title>ログイン</title>
</head>
<body>

<div id="login" th:fragment="login_contents">

<h1>ログイン</h1>

<p th:text="${error}"></p>
      <form name='form-login'method="post" action="/login">
        <span class="fontawesome-user"></span>
          <input type="text" id="user" placeholder="名前" name="staffname" th:value="${staffname_value}"/>

        <span class="fontawesome-lock"></span>
          <input type="text" id="pass" placeholder="パスワード" name="staffpass" th:value="${staffpass_value}" />

        <input type="submit" value="クリック">

</form>


<body>
</html>

