<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>社員トップ画面</title>​
</head>
<body>

<div th:fragment="edit_contents">

<button id="prev" type="button">前の月</button>
<button id="next" type="button">次の月</button>
<form method="post" th:action="@{/plan/mtop}" th:object="${selectForm}" name ="plan">
<div id="calendar"></div>


<button type="submit" name="update">編集確定</button>


<script th:inline="javascript">



/*<![CDATA[*/

	let planList = /*[[ ${planList} ]]*/
	let billList = /*[[ ${billList} ]]*/
	let staffList = /*[[ ${staffList} ]]*/

const weeks = ['日', '月', '火', '水', '木', '金', '土']
const date = new Date()
let year = date.getFullYear()
let month = date.getMonth() + 1
const config = {
    show: 1,
}

function showCalendar(year, month) {
    for ( i = 0; i < config.show; i++) {
        const calendarHtml = createCalendar(year, month)
        const sec = document.createElement('section')
        sec.innerHTML = calendarHtml
        document.querySelector('#calendar').appendChild(sec)

        month++
        if (month > 12) {
            year++
            month = 1
        }
    }

}

function createCalendar(year, month) {

	const date = new Date();//現在
//	 var selectDate = new Date(Date.getHours(),Date.getMinutes());
	var hh = date.getHours();
	var mm = date.getMinutes();
	var selectDateStr = hh+"時"+ mm +"分";


    const startDate = new Date(year, month - 1, 1) // 月の最初の日を取得
    const endDate = new Date(year, month,  0) // 月の最後の日を取得
    const endDayCount = endDate.getDate() // 月の末日
    const lastMonthEndDate = new Date(year, month - 2, 0) // 前月の最後の日の情報
    const lastMonthendDayCount = lastMonthEndDate.getDate() // 前月の末日
    const startDay = startDate.getDay() // 月の最初の日の曜日を取得

    const DAY_OF_MONTH = endDate.getDate();	//今月の日数
    const DAY_OF_THE_WEEK = startDate.getDay();	//今月初日の曜日
    let dayCount = 1 // 日にちのカウント
    let Html = '' // HTMLを組み立てる変数

//    var msd = Format(bill.billStartTime, "Short Time")
//    dateToFormatTime(bill.billStartTime(), '%HH%時%mm%分%');


    Html += '<h1>' + year  + '/' + month + '</h1>'

    + '<div style="height:500px; width:1000px; overflow-y:scroll;">'
    + '<table  border="1" style="border-collapse: collapse">'


    + '<tr>'


	Html += '<th>' + '出勤表' + '</th>'
	Html += '<th>' + '' + '</th>'
	Html += '<th>' + '' + '</th>'


    // 日付の行を作成
    for (let i = 1; i <= DAY_OF_MONTH; i++) {
      Html += '<th>' + i + '</th>'
    }

	Html +='</tr>'

    Html += '<tr>'


    	Html += '<th>' + '' + '</th>'
    	Html += '<th>' + '' + '</th>'
    	Html += '<th>' + '' + '</th>'

	//曜日
	for(var i = DAY_OF_THE_WEEK; i < (endDayCount+DAY_OF_THE_WEEK); i++){

		Html += '<th>' + weeks[i%7] + '</th>'

	}

    Html +='</tr>'

    for (let bill of billList) {

		var billweek= [
			bill.billSun,
			bill.billMon,
			bill.billTue,
			bill.billWed,
			bill.billThu,
			bill.billFri,
			bill.billSat,
		]

		console.log(billweek);

//		SimpleDateFormat sdf = new SimpleDateFormat("h時mm分")

    	Html += '<tr>'


    	Html += '<th rowspan ='+ bill.billPeople +'>'+ bill.billName +'</th>'
		Html += '<th rowspan ='+ bill.billPeople +'>'+ bill.billPeople +'</th>'
		Html += '<th rowspan ='+ bill.billPeople +'>' + bill.billStartTime + '～' + bill.billStopTime + '</th>'


			for(var j = 1; j <= bill.billPeople; j++){

        		for (var d = 1; d <= DAY_OF_MONTH; d++) {

     			if(billweek[(d+DAY_OF_THE_WEEK-1)%7] ==0){
						Html += '<td style="background-color:#7d7d7d;"></td>'

					continue;
					}

					Html += '<td>'

         //後ろに移動       	Html += '<select id = "staffSelect">'

					//カウント関数生成
					var count = 0
					//セレクトのデフォルト値を設定するかを判定するフラグ
					var flag = 0;
						//従業員数の分だけ繰り返す
                		for (var staff of staffList) {

							//カウントが0の時のみ実行
							if(flag == 0){
								//プランリストのデータ数の分だけ繰り返す
                				for(var plan of planList) {
                					count++

                					//日付をString型にする
                					var selectDate = new Date(startDate.getFullYear(),startDate.getMonth(),d);
                                    var yy =selectDate.getFullYear();
                                    var mm =("0"+(selectDate.getMonth()+1)).slice(-2);
                                    var dd =("0"+selectDate.getDate()).slice(-2);

                                    var selectDateStr = yy+"-"+ mm +"-"+ dd;

                					//プランリストの中から（日付＝プランの日付Idかつビルの清掃人数＝プランの清掃人数かつビルのビルId＝プランのビルIdが一致するものを表示
                					if(selectDateStr == plan.planDate
        								&& j == plan.staffNumber
        								&& bill.billId == plan.billId){
                						if(plan.staffId == 1){

                		                	//-----表記の時だけnameに配列beanクラスのフィールド名を指定----
                							Html += '<select name ="selectForm">'
                        	 				Html += '<option selected >----'
                             					+ '</option>'
                             					count = 0;
                             					flag = 1;
                						}else{
                		                	Html += '<select >'
                							Html += '<option selected >〇'
                             					+  plan.staffName
                             					+ '</option>'
                             					count = 0;
                             					flag = 1;
                						}

                					}//if文
                				}//プランリスト
    				            //リストを回し終わった(その日に合うプランがなかった)場合
    				            if (count >= planList.length){

    				            	Html += '<select>'
                    	 				Html += '<option selected >'
                         					+ '</option>'
                         					count = 0;
                         					flag = 1;
    			            	}
							}//プランリスト内に条件に合ったものがあればcount=1になるのでプランリスト中断

							//登録しているスタッフの名前をすべて表示

                			Html += '<option'
                				+ ' value= '
                				+ bill.billId
                				+ ','
                				+ selectDateStr
                				+ ','
                				+ j
                				+ ','
                				+ staff.staffId
                				+ '>'
                     			+  staff.staffName
                    			+ '</option>'
                		}//スタッフ全員選択肢に格納終わり

                	Html += '</select>'
                	Html += '</td>'
        		}//月末まで終わり
        		Html += '</tr>'
			}//〇人目終わり
    }//ビル繰り返し終わり

    Html += '</table>'


    return Html

}//createcalendar終わり

function moveCalendar(e) {
    document.querySelector('#calendar').innerHTML = ''

    if (e.target.id === 'prev') {
        month--

        if (month < 1) {
            year--
            month = 12
        }
    }

    if (e.target.id === 'next') {
        month++

        if (month > 12) {
            year++
            month = 1
        }
    }

    showCalendar(year, month)
}

document.querySelector('#prev').addEventListener('click', moveCalendar)
document.querySelector('#next').addEventListener('click', moveCalendar)

//document.addEventListener("click", function(e) {
//    if(e.target.classList.contains("calendar_td")) {
//        alert('クリックした人は' + 'Aさん' + 'です')
//    }
//})

showCalendar(year, month)


/*]]>*/
</script>



</form>

</div>

</body>
</html>