<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>マネージャートップ：スケジュール一覧</title>
</head>
<body>
	<div th:fragment="mtop_contents">

<p th:text=${result}></p>

		<button id="prev" class="btn btn-primary">前の月</button>
		<button id="next" class="btn btn-primary">次の月</button>

		<div id="calendar"></div>


	    <br>
		<a th:href="${sendmail}">一斉メール送信</a>
		<br>
        <a th:href="${sendrmail}">変更者メール送信</a>

<!-- "${sendmail}" -->

<script th:inline="javascript" charset="utf-8">

/*<![CDATA[*/
	let planList= /*[[ ${planList} ]]*/
	let billList= /*[[ ${billList} ]]*/
	let staffList= /*[[ ${staffList} ]]*/


	//日付関係
	var date = new Date();	//現在
	var year = date.getFullYear()	//	現在の西暦
	var month = date.getMonth() +1	//現在の月

	var week = ['日', '月', '火', '水', '木', '金', '土']
	var items = ["ビル名","人数","勤務時間"]

	var html = '';
	html += '<h1 style="position: -webkit-sticky; position: sticky; white-space: nowrap; top: 0; left: 0; background: #ffffff; z-index: 6;">' + year  + '年' + month + '月</h1>'

	function showCalendar(year, month) {

	        const html = createCalendar(year, month)
	        //tableタグの生成
	        const sec = document.createElement('table')
	        sec.setAttribute("class","table table-bordered table-striped text-nowrap")
	        sec.innerHTML = html

	        var h1 = document.createElement('h1')
	        h1.textContent =year +"年"+month+"月"
	        h1.setAttribute("class","all");
	        document.getElementById("calendar").appendChild(h1)

	        //id=calendarのタグを親としてsec(htmlを入れたtableタグ)を挿入
	        document.getElementById("calendar").appendChild(sec)

	}


	function createCalendar(year, month) {
		var endDate = new Date(year,month,0);	//今月末日 0は前月の末日
		var startDate = new Date(year,month-1,1);	//今月初日

		var DAY_OF_MONTH = endDate.getDate();	//今月の日数
		var startDay = startDate.getDay();	//今月初日の曜日


		var html = '';


		html += '<tr>'

	//固定要素

	//for(var i = 0; i < 2; i++){
		html += '<th class="allfixed" rowspan =2 >' + "ビル名"+'</th>'
		html += '<th class="allfixed2" rowspan =2 >' + "人数"+'</th>'
		html += '<th class="allfixed3" rowspan =2 >' + "勤務時間"+'</th>'
	//}
		//日付
		for(var i = 1; i <= (DAY_OF_MONTH); i++){
			html += '<th class="topfixed">'+ i +'</th>'

		}

	html += '</tr>'

	html += '<tr>'
		//曜日
		for(var i = startDay; i < (DAY_OF_MONTH+startDay); i++){
			html += '<th class="topfixed2">'+ week[i%7]; +'</th>'
		}

			html += '</tr>'//ここまでヘッダー部分



	html += '<tr>'
	for(var bill of billList){
		var billweek= [
			bill.billSun,
			bill.billMon,
			bill.billTue,
			bill.billWed,
			bill.billThu,
			bill.billFri,
			bill.billSat,
		]

		//ビルの情報の列

		html += '<th class="sidefixed" rowspan ='+ bill.billPeople +'>'+ bill.billName +'</th>'
		html += '<th class="sidefixed2" rowspan ='+ bill.billPeople +'>'+ bill.billPeople +'</th>'
		html += '<th class="sidefixed3" rowspan ='+ bill.billPeople +'>'+ bill.billStartTime.slice(0,5)+'～'+bill.billStopTime.slice(0,5) +'</th>'

			//ビルの人数分繰り返す
			for(var j = 1; j <= bill.billPeople; j++){
				//td追加（日毎）
				for(var k = 1; k <= DAY_OF_MONTH; k++){
					//曜日によってデータを格納できるか変更する
					if(billweek[(k+startDay-1)%7] ==0){
						html += '<td id="close"></td>'
						continue;
					}

					//kの時の日付を取得、yyyy-mm-dd文字型に変換
					var selectDate = new Date(startDate.getFullYear(),startDate.getMonth(),k);
					var yy =selectDate.getFullYear();
					var mm =("0"+(selectDate.getMonth()+1)).slice(-2);
					var dd =("0"+selectDate.getDate()).slice(-2);

					var selectDateStr = yy+"-"+ mm +"-"+ dd;

					var count = 0
					for(var plan of planList){
						count++
					if(selectDateStr == plan.planDate
							&& j == plan.staffNumber
							&& bill.billId == plan.billId){
					if(plan.restCheck == 2){
        	 			html +=  '<td id="nodata">勤務者が居ません</td>'
						}else{
							if(plan.restCheck == 3){html += '<td id="changed">'}
							else if(plan.restCheck == 1){html += '<td id="request">'}
							else{html += '<td>'}
							html+= '<a href="/CleanerSchedule-0.0.1-SNAPSHOT/staff/sdetail/'+ plan.staffId + ' ">'
								+plan.staffName +'</a></td>'
						}
					var count = 0
					}//日付、人数、ビルIDのif文終わり

						if(count >= planList.length){
							html += '<td id="nodata">no data</td>'
								var count = 0
						}
				}//プランリスト終わり

			}	html += '</tr><tr>' //k
		}//j
	}//bill

				return html

	}//function createCalendar終了

	function moveCalendar(e) {
	    document.getElementById('calendar').innerHTML = ''

	    if (e.target.id === 'prev') {
	        month--

	        if (month < 1) {
	            year--
	            month = 12
	        }
	    }

	    if (e.target.id === 'next') {
	        month++

	        if (month > 12) {
	            year++
	            month = 1
	        }
	    }

	    showCalendar(year, month)
	}

	document.getElementById('prev').addEventListener('click', moveCalendar)
	document.getElementById('next').addEventListener('click', moveCalendar)

	showCalendar(year, month);
/*]]>*/
</script>

	</div>
</body>
</html>