<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <div th:fragment="restlist_contents">
 <table class="table table-bordered table-hover table-striped">


<th>名前</th>
<th>休み申請をしたい日</th>
<th>ビルの名前</th>


     <tr th:each="plan : ${planList}">

            <td th:text="${plan.staffName}">
                </td>
                <td th:text="${plan.planDate}">
                </td>
                <td th:text="${plan.billName}">
                </td>
            </tr>
        </table>

 <form method="post" th:action="@{/plan/edit}">
 <button type="submit"  name="restcheck" > スケジュール編集</button>
</form>

	​​ <a th:href="@{'/plan/mtop'}">戻る</a>
</div>

​
</body>
</html>